h1{
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Rancho', cursive;
  text-align: center;
}

body{
    background-image: url(..//images/woodhoriz.jpg);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-blend-mode: soft-light; 
    padding: 10px;
    background-color: #cccccc;
}

