h1{
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Rancho', cursive;
  text-align: center;
}


body{
    background-image: url(..//images/woodhoriz.jpg);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-blend-mode: soft-light; 
    padding: 10px;
    background-color: #cccccc;
}


p {
    font-family: 'Coming Soon', cursive;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
}


.header{
    font-weight: 600;
    font-size: 1.25em;
}