h1{
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

nav ul li{
 list-style-type: none;
 display: inline;
 padding-left: 20px;
}



p{
  font-family: 'Coming Soon', cursive;
}

nav a{
  text-decoration: none;
}


body{
  background-image: url(..//images/sunset.jpg);
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;  
}


aside:first-of-type{
  text-align: left;
  border: px;
}

aside{
  text-align: right;
}