h1{
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

body{
  background-image: url(..//images/minecraft1.png);
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;  
}

nav ul li{
 list-style-type: none;
 display: inline;
 padding-left: 20px;
}

nav{
  text-align: center;
}

p{
  font-family: 'Coming Soon', cursive;
}

footer{
  clear: both; 
  text-align: center;
}

nav a{
  text-decoration: none;
}
main{
  text-align: center;
}


li{
  padding-bottom: 10px;
}
