h1{
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

nav ul li{
 list-style-type: none;
 display: inline;
 padding-left: 20px;
}

nav{
  text-align: center;
}

footer{
  clear: both; 
  text-align: center;
}

nav a{
  text-decoration: none;
}
main{
  text-align: center;
}

body{
  background-image: url(../images/woodhoriz.jpg);
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;  
}

li{
  padding-bottom: 10px;
}

