
body{
    background-color: #b19cd9;
}

#tabs{
    margin: 10% 5% 5% 10%;
}

.title{
    text-align: center;
    padding: 5px;
}

hr{
    margin-bottom: 5%;
}

.align label {
    float: left;
    width: 10em;
    margin-top: 5px;
    text-align: right;
}

.align input {
    margin-left: 1em;
    margin-bottom: .5em;
}

.align button{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20%
}

.align textarea{
    margin-left: 5%;
    margin-top: 2%;
    width: 240px;
    height: 120px;
}

.error {
    color:red;
}

.tooltip{
    color: black;
}
