/*Style rules for displaying the character lists. */
.charlist{
    border: 1px solid black;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    background-color: #d3c7e9;
    border-radius: 3px;
}

.charimg{
    float:left;
}

.charlist label {
    margin-left: 5%;
    width: 10em;
    margin-top: 1em;
    text-align: right;
    font-family: 'malireg';
}

#namelabel, #charname{
    margin-top: 2.5%;
}

.charlist input[type=text] {
    margin-left: 1em;
    padding: 2.5px;
    width: 50%;;
    background-color: #d3c7e9;
    border: none;
    font-family: 'malireg';
}

.charlist input[type=submit] {
    margin-left: 25%;
    width: 40%;
    height: 30px;
    margin-right: 25%;
    margin-bottom: 2.5%;
}

.divider{
    margin-right: 10%;
    margin-left: 2.5%;
}

.desctext{
    background-color: #d3c7e9;
}

#chardesc{
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 10%;
    width: 65%;
    background-color: #d3c7e9;
    overflow: auto;
    border: none;
    font-family: 'malireg';
}


/* Style rules for displaying an individual character.*/
#accordion{
    margin-right: 2.5%;
    margin-top: 2rem;
}

#charnamelabel{
    margin-top: 2.75%;
}

h3{
    font-weight: 300;
}

.textdiv{
    column-count: 1;
}
.display label {
    float: left;
    width: 10rem;
    margin-left: 1rem;
    margin-right: 2rem;
    text-align: left;
}

.display input {
    margin-bottom: .5em;
    width: 15rem;
    border: none;
}

.display textarea{
    height: 1.25rem;
    width: 15rem;
    margin-bottom: 5px;
    height: auto;
    border: none;
    resize: none;    
}


/* Style rules for listing the weapons. */
.weaplist{
    margin-left: 20%;
    margin-right: 15%;
    border: 2px solid black;
    border-radius: 3px;
    padding: 1rem;
    background-color: #d3c7e9;
    font-family: 'delius';
}

.weaplist input[type=text]{
    border:  none;
    background: none;
    margin-left: 1rem;
    padding-bottom: 5px;
}

.weaplist textarea{
    background: none;
    border: none;
    width:75%;
    height: 1.25rem;
}


.weapcontent{
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
    padding-left: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: 'delius';
}

.weapcontent label{
    float: left;
    text-align: left;
    width: 10rem;
}

.weapcontent input[type=text]{
    background: none;
    border: none;
}

.weapcontent textarea{
    background: none;
    border: none;
    width: 20rem;
    height: 1.5rem;
}


.spelllist{
    border: 2px solid black;
    border-radius: 3px;
    background-color: #d3c7e9;
    padding: 1rem;
    margin-right: 15%;
    margin-left: 15%;
}

.spelllist label, .spellcontent label{
    margin-left: 5%;
    width: 10em;
    margin-top: 1em;
    text-align: right;
    font-family: 'malireg';
}

.spelllist input[type=text], .spellcontent input[type=text]{
    margin-left: 1em;
    padding: 2.5px;
    width: 50%;;
    background-color: #d3c7e9;
    border: none;
    font-family: 'malireg';
}

.spelllist textarea{
    border: none;
    background-color: #d3c7e9;
    width: 80%;
    margin-left: 5%;
    font-family: 'malireg';
    height: 1.5rem;
}

#morespellinfo{
    margin-top: 1rem;
    height: 1.5rem;
    width: 10rem;
    margin-left: 10%;
}

.spellcontent{
    border: 2px solid black;
    border-radius: 3px;
    padding: 1rem;
    background-color: #d3c7e9;

}

.spellcontent .textdiv{
    margin-left: 5%;
    font-family: 'malireg';
}
