.align label {
    float: left;
    width: 10em;
    margin-top: 5px;
    text-align: right;
}

.align input {
    margin-left: 1em;
    margin-bottom: .5em;
}

.align button{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20%
}
