
#errorbox{
    margin-left: 2.5rem;
    margin-bottom: 1rem;
    width: 34rem;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 125%;
}


.labeltext{
    display: inline-block;
}

.textinput{
    display: inline-block;
}


#login-form{
    border: 2px solid black;
    padding: 2.5% 0% 2.5% 0%;
    margin: 5% 30% 5% 30%;
    border-radius: 3px;
}

@media screen and (max-width: 600px) {
    h1{
        margin-left: 20%;
        margin-right: 20%;
    }

    .align label{
        text-align: center;
        margin-left: 12%;
    }

    #forms{
        margin: 5% 20% 5% 20%;
    }

    #login_button{
        margin-left: 15%;
        width: 10rem;
    }

    #new_button{
        width: 10rem;
        margin-left: 15%;
    }

    #pass, #username{
        width: 11rem;
    }
}
