h1{
    font-weight: 600;
    font-family: 'handlee';
    text-align: center;
}

#container{
    margin-top: 2.5%;
    border: none;
    height: 70%;
    margin-left: 15%;
    width: 75%;
    border-radius: 10px;
}


body{
    background-image: url(../images/sunset.png);
    background-size: cover;
}

#userdisplay{
    margin-top: -3.75rem;
    margin-right: 2.5rem;
    font-size: 150%;
    float: right;
    font-family: 'handlee';
    border: 2px solid black;
    padding: 0.5rem;
    border-radius: 3px;
    background-color: #ACBFF3;
}

footer{
    text-align: center;
    border: 1px solid black;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 10px;
    width: 50%;
    border-radius: 3px;
    margin-left: 29%;
    background: rgba(135,128, 206, 0.35);
    font-family: 'coming';
}

@media screen and (max-width: 600px) {
    iframe{
        width: 65%;
        margin-left: 30%;
    }   

    .sidenav{
        background-color: transparent;
        border: none;
        display: inline;
        width: 100%;
        margin-top: 10%;
    }
}


input[type=checkbox]:hover{
    color:white;
}