h2{
    text-align: center;
}

iframe{
    width: 90%;
    height: 650px;
    margin-left: 5%;
    margin-right: 5%;
    border: none;
    border-radius: 3px;
}

a{
    text-decoration: none;
}

section{
    margin-top: 5%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    border: 1px solid black;
    padding-bottom: 20px;
}