body{
    background-image: url('../images/earthy.png');
    background-size: auto;
    background-color: skyblue;
}

section{
    border: 2px dotted black;
    border-radius: 5px;
    margin: 2.5% 10% 2.5% 10%;
}

#new{
    margin: 10% 25% 5% 25%;
    background-color: rgba(217, 177, 156, 0.9);
    border-radius: 5px;
    border: 3px solid black;
}

#create{
    margin-top: 1.5rem;
    margin-left: 15%;
    width: 17rem;
    height: 2rem;
}

#check_button{
    margin: 2.5%  25% 2.5% 15%;
    width: 17rem;
    height: 2rem;
}

#info{
    font-weight: 600;
    font-size: 125%;
    text-align: center;
    border: none;
    background: none;
    margin-left: 22%;
    margin-right: 22%;
    width: 17rem;
}

hr{
    margin: 0% 5%;
}

.notice{
    padding: 15px 20px 0px 20px;
}

#message {
  display:block;
  color: #000;
  position: relative;
  padding: 20px;
}

#message p {
  font-size: 16px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
}