body{
    background-color: #b19cd9;
}

p{
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-family: 'coming';
}

hr{
    margin-left: 5%;
    margin-right: 5%;
}
ul{
    margin-left: 2.5%;
}

ul li{
    list-style-type: none;
    padding-bottom: 2px;
}

ul li a{
    text-decoration: none;
}

